
 <div class="row">
  <div class="col-12">
    <img class="header-img" src="../../../assets/icons/youtubeTask.png" alt="">
  </div>
   </div>

<div class="container mt-3">
    <div class="row my-2">
      <div class=" col-12 col-md-6">
        <h2>
          check out the latest trendy youtube videos!
        </h2>
      </div>
    </div>
  <nav class="navbar navbar-light bg-light">
     <div class="col-12 col-md-3 offset-md-9" >
      <input type="search" class="form-control rounded-pill " id="search-input"
      placeholder="Search channels by video title"
      [formControl]="value" autocomplete="off">
     </div>

  </nav>

  <div class="row">
    <div class="col-12">
      <table class="table responsive-table">
        <thead>
          <tr class="my-5">
            <th scope="col">#</th>
            <th scope="col"></th>
            <th scope="col">Title</th>
            <th scope="col"> Published Date</th>
            <th scope="col"></th>


          </tr>
        </thead>
        <tbody class="">
          <tr *ngFor="let item of filteredItems | slice: (page-1) * pageSize : page * pageSize; index as i">
            <th scope="row">{{i+1}}</th>
            <td>
              <img [src]="item.snippet.thumbnails.default.url" alt="">
            </td>
            <td class="my-auto">{{item.snippet.localized.title}}</td>
            <td>{{item.snippet.publishedAt | date}}</td>
            <td><button class="details-btn btn btn-block btn btn-primary border-0" [routerLink]= "['/details',item.id]">
              Details</button></td>
          </tr>
        </tbody>
      </table>
      <div class="row mt-3" *ngIf="!filteredItems.length">
 <div class="col-12">
  <h4 class="d-flex justify-content-center align-items-center">
    There's no results matched your search
   </h4>
 </div>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="filteredItems.length">
  <div class="col-12 col-md-6 offset-md-6">
      <ngb-pagination
      [(page)]="page"
      [pageSize]="pageSize"

      [collectionSize]="filteredItems.length"></ngb-pagination>

  </div>
</div>
